CONFIG_STATIC=y
CONFIG_FEATURE_PREFER_APPLETS=y
CONFIG_BUSYBOX_EXEC_PATH="/proc/self/exe"
CONFIG_SH_IS_ASH=y
CONFIG_ASH=y
CONFIG_ASH_OPTIMIZE_FOR_SIZE=y
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_MOUNT=y
CONFIG_FEATURE_MOUNT_FLAGS=y
CONFIG_UMOUNT=y
CONFIG_SWITCH_ROOT=y
CONFIG_IP=y
CONFIG_FEATURE_IP_LINK=y
CONFIG_FEATURE_IP_ADDRESS=y
CONFIG_FEATURE_IP_ROUTE=y
CONFIG_UDHCPC=y
CONFIG_FEATURE_UDHCPC_ARPING=y
CONFIG_GETTY=y
CONFIG_TTY=y
CONFIG_PS=y
CONFIG_KILL=y
CONFIG_KILLALL=y
CONFIG_REBOOT=y
CONFIG_HALT=y
CONFIG_POWER_OFF=y
CONFIG_HOSTNAME=y
CONFIG_DMESG=y
CONFIG_SYNC=y
CONFIG_MKDIR=y
CONFIG_SLEEP=y
CONFIG_CAT=y
CONFIG_ECHO=y
CONFIG_LN=y
CONFIG_RM=y
CONFIG_CHMOD=y
CONFIG_CHOWN=y
CONFIG_CP=y
CONFIG_LS=y
CONFIG_MV=y
CONFIG_PWD=y
CONFIG_ENV=y
CONFIG_MOUNTPOINT=y
CONFIG_MDEV=y
CONFIG_FEATURE_MDEV_DAEMON=y
CONFIG_FEATURE_MDEV_CONF=y
CONFIG_PROCPS=y
# CONFIG_KBD_MODE is not set
# CONFIG_TC is not set
# CONFIG_FEATURE_TC_INGRESS is not set
# --- networking ---
CONFIG_WGET=y
CONFIG_FEATURE_WGET_LONG_OPTIONS=y
CONFIG_FEATURE_WGET_STATUSBAR=y
CONFIG_FEATURE_WGET_AUTHENTICATION=y
CONFIG_FEATURE_WGET_TIMEOUT=y
CONFIG_FEATURE_WGET_HTTPS=y
CONFIG_FEATURE_WGET_FTP=y
CONFIG_SSL_CLIENT=y
CONFIG_TLS=y
CONFIG_PING=y
CONFIG_PING6=y
CONFIG_FEATURE_FANCY_PING=y
CONFIG_TRACEROUTE=y
CONFIG_TRACEROUTE6=y
CONFIG_FEATURE_TRACEROUTE_VERBOSE=y
CONFIG_NC=y
CONFIG_NC_SERVER=y
CONFIG_NC_EXTRA=y
CONFIG_TELNET=y
CONFIG_FEATURE_TELNET_TTYPE=y
CONFIG_FEATURE_TELNET_AUTOLOGIN=y
CONFIG_TELNETD=y
CONFIG_FEATURE_TELNETD_STANDALONE=y
CONFIG_FTPGET=y
CONFIG_FTPPUT=y
CONFIG_HTTPD=y
CONFIG_FEATURE_HTTPD_CGI=y
CONFIG_FEATURE_HTTPD_BASIC_AUTH=y
CONFIG_NSLOOKUP=y
CONFIG_FEATURE_NSLOOKUP_BIG=y
CONFIG_NTPD=y
CONFIG_FEATURE_NTPD_SERVER=y
CONFIG_IFCONFIG=y
CONFIG_FEATURE_IFCONFIG_STATUS=y
CONFIG_FEATURE_IFCONFIG_HW=y
CONFIG_ROUTE=y
CONFIG_IFUPDOWN=y
CONFIG_IFUP=y
CONFIG_IFDOWN=y
CONFIG_ARP=y
CONFIG_ARPING=y
CONFIG_NETSTAT=y
CONFIG_FEATURE_NETSTAT_WIDE=y
CONFIG_FEATURE_NETSTAT_PRG=y
CONFIG_DNSD=y
CONFIG_TFTP=y
CONFIG_TFTPD=y
CONFIG_WHOIS=y
CONFIG_FEATURE_IPV6=y
CONFIG_FEATURE_UNIX_LOCAL=y
CONFIG_IPADDR=y
CONFIG_IPLINK=y
CONFIG_IPROUTE=y
CONFIG_IPRULE=y
CONFIG_IPNEIGH=y
CONFIG_FEATURE_IP_RULE=y
CONFIG_FEATURE_IP_NEIGH=y
CONFIG_FEATURE_IP_TUNNEL=y
CONFIG_UDHCPC6=y
CONFIG_UDHCPD=y
CONFIG_BRCTL=y
CONFIG_NAMEIF=y
CONFIG_ETHER_WAKE=y
CONFIG_TCPSVD=y
CONFIG_UDPSVD=y
CONFIG_INETD=y
CONFIG_IFPLUGD=y
CONFIG_NBDCLIENT=y
CONFIG_DNSDOMAINNAME=y
