CONFIG_STATIC=y
CONFIG_FEATURE_PREFER_APPLETS=y
CONFIG_BUSYBOX_EXEC_PATH="/proc/self/exe"
CONFIG_SH_IS_ASH=y
CONFIG_ASH=y
CONFIG_ASH_OPTIMIZE_FOR_SIZE=y
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_MOUNT=y
CONFIG_FEATURE_MOUNT_FLAGS=y
CONFIG_UMOUNT=y
CONFIG_SWITCH_ROOT=y
CONFIG_IP=y
CONFIG_FEATURE_IP_LINK=y
CONFIG_FEATURE_IP_ADDRESS=y
CONFIG_FEATURE_IP_ROUTE=y
CONFIG_UDHCPC=y
CONFIG_FEATURE_UDHCPC_ARPING=y
CONFIG_GETTY=y
CONFIG_TTY=y
CONFIG_PS=y
CONFIG_KILL=y
CONFIG_KILLALL=y
CONFIG_REBOOT=y
CONFIG_HALT=y
CONFIG_POWER_OFF=y
CONFIG_HOSTNAME=y
CONFIG_DMESG=y
CONFIG_SYNC=y
CONFIG_MKDIR=y
CONFIG_SLEEP=y
CONFIG_CAT=y
CONFIG_ECHO=y
CONFIG_LN=y
CONFIG_RM=y
CONFIG_CHMOD=y
CONFIG_CHOWN=y
CONFIG_CP=y
CONFIG_LS=y
CONFIG_MV=y
CONFIG_PWD=y
CONFIG_ENV=y
CONFIG_MOUNTPOINT=y
CONFIG_MDEV=y
CONFIG_FEATURE_MDEV_DAEMON=y
CONFIG_FEATURE_MDEV_CONF=y
CONFIG_PROCPS=y
CONFIG_KBD_MODE=n
